*{
    box-sizing: border-box;
}

body, html {
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
    background: white;
    padding: 0;
}

h1, h3, h4, h5, a, p, button{
    font-family: HelveticaNeue, Helvetica, Arial;
    text-decoration: none;
}

h1{
    font-size: 48.6px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin: 0px;
}

h2{
    font-family: Georgia, Times;
    font-size: 31.5px;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    color: #ffffff;
    margin: 0;
}

h3{
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    margin: 0;
    text-transform: capitalize;
}

h4{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #214b90;
    text-transform: uppercase;
    margin: 0;
}


h5{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #333333;
}

p{
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #999999;
    margin: 0;
}


.header{
    width: 100%;
    background-color: #214b90;
}

.internal{
    width: 600px;
    margin: 0 auto;
    border: 0px solid #ffffff;
}

.topbox{
    padding: 44px 0 0 0; 
}

.left{
	float: left;
}
.right{
	float: right;
}

.clear:before,
.clear:after {
  content: "";
  display: table;
}

.clear:after {
  clear: both;
}

button{
    text-align: center;
}

button:hover{
    background-color: #ffffff;
}

.btn_three:hover{
    color: #76ae29;
}

.btn_one:hover{
    color: #214b90;
}

.btn_two:hover{
    color: #214b90;
}

.btn_one{
    font-size: 15px;
    color: #ffffff;
    border-radius: 40px;
    background-color: #214b90;
    border: solid 1px #ffffff;
    padding: 10px 20px 10px 20px;
}

.btn_two{
    font-size: 18.4px;
    color: #ffffff;
    border-radius: 40px;
    background-color: rgba(0,0,0, 0.5);
    border: solid 1px rgba(0,0,0, 0.5);
    padding: 17px 27px 17px 27px;
    text-transform: uppercase;
}

.btn_three{
    font-size: 13px;
    color: #ffffff;
    border-radius: 40px;
    font-weight: bold;
    background-color: #76ae29;
    border: solid 1px #76ae29;
    padding: 16px 22px 16px 22px;
    text-transform: uppercase; 
}

.box2{
    padding-top: 60px;
    padding-bottom: 30px;
}

.box3{
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
}

.about{
    background-color: #ffffff;
    padding-top: 60px;
    padding-bottom: 75px;
}

.iconholder{
    width: 106px;
    height: 106px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8; 
    border-radius: 53px;
    text-align: center;
    line-height: 106px;
    margin: 0 auto;
}

.icon{
    vertical-align: middle;
}

.halfsize{
    width: 298px;
    padding-left: 15px;
    padding-right: 15px;
}

.aligncenter{
    text-align: center;
}

.alignleft{
    text-align: left;
}

.alignright{
    text-align: right;
}

.portfolio{
    padding: 50px 0;
    background-color: #ececec;
}

.subheader{
    font-size: 16px;
    font-weight: 300;
    color: #999999;
}

.subpadding{
    padding: 30px 32px 50px 32px;
}

.addmarg_p{
    margin-top: 8px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.bottom{
    background-color: #ffffff;
    padding: 60px 0 100px 0;
}

.portf_image{
    width: 180px;
	height: 120px;
	margin: 10px 8px;
}

.width450{
    width: 450px;
}

.width150{
    width: 148px;
}

hr{
    width: 560px;
    margin: 0 auto;
    height:1px; 
    border:none; 
    color:#ececec; 
    background-color:#ececec;
}

.lineholder{
    padding: 58px 0 48px 0;
}

.smallic{
    width: 20px;
    height: 20px;
}

.ic_contain{
    margin-top: 20px;
    width: 120px;
}


